.action {
  color: white;
  background-color: #ef4444;
}

.adventure {
  color: white;
  background-color: #f59e0b;
}

.animation {
  color: white;
  background-color: #06b6d4;
}

.comedy {
  color: white;
  background-color: #10b981;
}

.crime {
  color: white;
  background-color: #6b7280;
}

.documentary {
  color: white;
  background-color: #8b5cf6;
}

.drama {
  color: white;
  background-color: #3b82f6;
}

.horror {
  color: white;
  background-color: #1f2937;
}

.mystery {
  color: white;
  background-color: #7c3aed;
}

.thriller {
  color: white;
  background-color: #ec4899;
}
