.base {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  border-radius: 12px;
}

.red {
  color: white;
  background-color: #ef4444;
}

.orange {
  color: white;
  background-color: #f59e0b;
}

.cyan {
  color: white;
  background-color: #06b6d4;
}

.green {
  color: white;
  background-color: #10b981;
}

.gray {
  color: white;
  background-color: #6b7280;
}

.purple {
  color: white;
  background-color: #8b5cf6;
}

.blue {
  color: white;
  background-color: #3b82f6;
}

.dark {
  color: white;
  background-color: #1f2937;
}

.violet {
  color: white;
  background-color: #7c3aed;
}

.pink {
  color: white;
  background-color: #ec4899;
}

.small {
  padding: 2px 8px;
  font-size: 12px;
}

.medium {
  padding: 4px 12px;
  font-size: 14px;
}
