.base {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--color-warning);
}

.ratingNumber {
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--color-warning);
}

.starsContainer {
  display: flex;
  gap: 2px;
  align-items: center;
}

.starFilled {
  color: var(--color-warning);
}

.starPartial {
  --partial-width: 0;

  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-warning);
  clip-path: polygon(0 0, var(--partial-width) 0, var(--partial-width) 100%, 0 100%);
}

.starEmpty {
  color: var(--color-warning);
  opacity: 0.3;
}

.partialStarContainer {
  position: relative;
  display: inline-flex;
}

.rating {
  font-weight: 500;
  color: var(--color-warning);
}

.unrated {
  display: flex;
  gap: 6px;
  align-items: center;
  color: var(--color-neutral-500);

  .icon {
    color: var(--color-neutral-500);
  }

  .text {
    font-size: var(--text-sm);
    font-weight: 400;
    color: var(--color-neutral-500);
  }
}
